@using Microsoft.AspNetCore.Identity
@using Cereal.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

@if (SignInManager.IsSignedIn(User))
{
    <h2>Shopping Cart:</h2>
    @model IEnumerable<Cereal.Models.ViewModels.BasketViewModel>


    <form>
        <input type="hidden" name="email" value="@SignInManager.UserManager.GetUserName(User)"/>
        <button asp-controller="Checkout" asp-action="Payment" class="checkout-button" type="submit">Checkout</button>
    </form>
    
    decimal total = 0;
    <table>
        <tr>
            <th>Cereal</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Remove</th>
        </tr>
        @foreach (var item in Model)
        {
            total += item.Price * item.Quantity;
            <tr class="cereal-row">
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>
                    <form method="post" asp-controller="Basket" asp-action="Index" asp-route-id="@item.ProductID">
                        <label for="quantity"></label>
                        <input asp-route-data="quantity" type="number" name="quantity" value="@Html.DisplayFor(modelItem => item.Quantity)" />
                        <button type="submit">Update</button>
                    </form>
                </td>
                <td>
                    <form method="post" asp-controller="Basket" asp-action="Delete" asp-route-id="@item.ID"><button type="submit">X</button></form>
                </td>
            </tr>
        }
        <tr class="last-row">
            <th>Total:</th>
            <td> </td>
            <td> </td>
            <td>@total</td>
        </tr>

    </table>
}