@using Microsoft.AspNetCore.Identity
@using Cereal.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Satisfy" rel="stylesheet">
    <link href="~/Styles/Normalize.css" rel="stylesheet" />
    <link href="~/Styles/StyleSheet.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="all_content">
        @if (SignInManager.IsSignedIn(User))
        {

        <div class="container">
            <div class="navigation">
                <a asp-controller="Home" asp-action="Index">Home</a>
                <a asp-controller="Product" asp-action="Index">Products</a>
                <a asp-controller="Employee" asp-action="Index">Employee Discounts</a>
                <a asp-controller="Basket" asp-action="Index">Shopping Cart</a>

                <div class="account_access">
                    <a asp-controller="Profile" asp-action="Index">Hello, @User.Claims.FirstOrDefault(name => name.Type == "FullName").Value</a>
                    <a asp-controller="Account" asp-action="Logout">Logout</a>
                </div>
            </div>
            <div class="header">
                <h1>Cereal</h1>
                <h3 class="subTitle">@ViewBag.MyString</h3>

            </div>
        </div>
        }

        else
        {
            <div class="container">
                <nav class="navigation">
                    <a asp-controller="Home" asp-action="Index">Home</a>
                    <a asp-controller="Product" asp-action="Index">Products</a>
                    <a asp-controller="Basket" asp-action="Index">Shopping Cart</a>
                    <div class="account_access">
                        <a asp-controller="Account" asp-action="Register">Register</a>
                        <a asp-controller="Account" asp-action="Login">Login</a>
                    </div>
                </nav>
                <div class="header">
                    <h1>Cereal</h1>
                    <h3 class="subTitle">@ViewBag.MyString</h3>
                </div>
            </div>
        }
        <main>
            @RenderBody()
        </main>
    </div>
</body>
</html>
